<div class="view rcipe-trckr half-v">
  <div style="font-family: sans-serif;">
    <h2 style="text-align:center">
      {{ trmnl.plugin_settings.instance_name }}
    </h2>
  </div>    <div id="rc-root"></div>
</div>

<script>
  RCIPE_SHARED.configure({ HV: { MAX_ROWS: 14 } });
  RCIPE_SHARED.configure({ HV: { BOX: { w: 385, h: 460 } } });
  RCIPE_SHARED.renderHalfV();
</script>